

<script type="text/javascript" charset="utf-8">
  
  
  $(function () {
    new Highcharts.Chart({
      chart: { renderTo: 'orders_chart' },
      title: { text: 'Orders by Day' },
      xAxis: { type: 'datetime' },
      yAxis: {
        title: { text: 'Dollars' }
      },
      series: [{
        
        data:[<%=@all.count %>]
		  
      }]
    });
  });
</script>

<html>

<div id="orders_chart" style="width: 560px; height: 300px;"></div>
<table class="pretty">
  <!-- Orders table code here -->
</table>


</html>
