



<!DOCTYPE html>
<html>
<head>
 
<%= javascript_include_tag "jquery"%> 
</head>
<body>
  <div style="text-align: center;">
    <h3 style="margin-top: 60px">Your browser fingerprint with default settings (canvas, screen resolutin, activeX disabled)</h3>
    <h1 id="fp1"></h1>
  </div>
  <div style="text-align: center;">
    <h3 style="margin-top: 20px">Your browser fingerprint with canvas enabled is:</h3>
    <h1 id="fp2"></h1>
  </div>
  <div style="text-align: center;">
      <h3 style="margin-top: 20px">Your browser fingerprint with ie_activex enabled is:</h3>
      <h1 id="fp3"></h1>
  </div>
  <div style="text-align: center;">
    <h3 style="margin-top: 20px">Your browser fingerprint with screen_resolution enabled is:</h3>
    <h1 id="fp4"></h1>
  </div>
  
</body>
</html>

Zahl der Besucher nach Fingerprint:
<%= @numberofvisitorsfingerprint%><br>



Browserfingerprint
<%@output.each do |i|%>
<%=i.browser%>
<%end%>


<%@attribute.each do |i|%>
<%=i.title%>
<%end%>


<%@cookieshow.each do |i|%>
<%=i.cookie%>
<%end%>
