<html>
<%=@attributes%>
<table border="1" cellspacing="3" cellpadding="3" id ="table" width ="50px" >




<thead>
	<tr>
		<td>Titel</td>
		
		
		<td>Beschreibung</td>
		<td>Preis</td>
		<td>Bild</td>
		<td>Tag1</td>
		<td>Tag2</td>
		<td>Tag3</td>
		<td>Tag4</td>
		
		
		
	</tr>
</head>	
<tbody>
  <% @products.each do |i| %>
 
  
 
 

    <tr>
      <td class="test"><%= i.title%></td>
		
		<td><%= i.description%></td>
		<td><%= i.price%></td>
		<td><%= image_tag i.piclink, :width =>"50px", :height => '50px'%></td>
		<td><%=i.link%></td>
		<td><%=i.id%></td>
      <td><%= i.tag3%></td>
		<td><%= i.tag4%>
		
      
		
    </tr>
    <% end %> 
	
</tbody>

</table >



</body>


</html>